<div class="home-intro">
    <div class="jumbo">hey, i am chtnnh</div>
    <div class="home-sub-text">
        <h2>
            the future:
        </h2>
        <h3>
            i am tinkering with altering the future of humanity with decentralized federated machine learning. hmu at chtnnh [@] gmail.com
        </h3>
        <h2>
            the past.
        </h2>
        <h3>
            i was a full-stack swe at <a href="https://wisdomcircle.com">WisdomCircle</a>.
            <br />
            <br />
            in addition, i was also an swe intern at <a href="https://bharatx.tech">BharatX (YC W '22)</a>, <a href="https://questbook.xyz">Questbook (YC W '21)</a> and a gsoc mentor and intern at the <a href="https://wikimedia.org">Wikimedia Foundation</a>.
            <br />
            <br />
            i moved to blr and was <a href="{{'/posts' | relative_url}}">blogging about it</a>.
        </h3>
        <h2>
            the creative side.
        </h2>
        <h3>
            the first volume of my poetry collection, is now out on <a href="https://www.amazon.in/3415-ode-heartbreaks-Chaitanya-Mittal/dp/B0C1J6Q1JG/" target="_blank">amazon</a>
            <br />
            <br />
            you can read some prose here on <a href="https://medium.com/@chits" target="_blank">medium</a>
        </h3>
    </div>
</div>
