<div class="home-intro">
    <div class="jumbo">Namaste 🙏 I am Chaitanya Mittal.</div>
    <div class="home-sub-text">
        <h3>
            <br />
            <br />
            I am a Full-Stack Software Engineer at <a href="https://wisdomcircle.com">WisdomCircle</a>.
            <br />
            <br />
            I was an SWE Intern at <a href="https://bharatx.tech">BharatX (YC W '22)</a>, <a href="https://questbook.xyz">Questbook (YC W '21)</a> and a Google Summer of Code Intern at the <a href="https://wikimedia.org">Wikimedia Foundation</a>.
            <br />
            <br />
            I am currently teaching myself Computer Science from the ground up. You can find my curriculum <a href="https://teachyourselfcs.com">here</a>. Check out my notes <a href="{{'/notes' | relative_url}}">here</a>. Also, check out my blog <a href="{{'/posts' | relative_url}}">here</a>.
        </h3>
    </div>
</div>
